# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
server/.env
client/.env
*.env.local

# Build outputs
client/dist/
dist/

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
